<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<title>Insert title here</title>
</head>
<body>
	<h3 align="center">신규 메뉴 등록</h3>
	<form action="/menu/regist" method="post" align="center">	
		<label>이름 : </label><input type="text" name="name"><br>
		<label>설명 : </label><input type="text" name="description"><br>
		<input type="submit" value="전송">
	</form>
</body>
</html>