<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1 align="center">SPRING DATA-JPA CRUD </h1>
	
	<button onclick="location.href='/menu/1'">STUDY TABLE SELECT</button>
	<button onclick="location.href='/menu/list'">STUDY TABLE SELECT ALL</button>
	<button onclick="location.href='/menu/regist'">STUDY TABLE INSERT</button>
	<button onclick="location.href='/menu/modify'">STUDY TABLE UPDATE</button>
	<button onclick="location.href='/menu/search'">STUDY TABLE SEARCH & PAGING</button>
</body>
</html>