## server port config
server:
  port: 8080

## oracle driver config
spring:
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:oracle:thin:@localhost:1522:orcl
    username: C##HR_SYSTEM
    password: HR_SYSTEM
    hikari:
      auto-commit: false

## jpa config
  jpa:
    generate-ddl: false
    show-sql: true
    database: oracle
    properties:
      hibernate:
        '[format_sql]': true